#searchBox {
    display: block;
    margin: 0 auto;
    width: 400px;
    outline: none;
    border: none;
    border-radius: 25px;
    border: 2px solid grey;
    padding: 10px 20px;
    margin-top: 40px;
}

#submitBtn {
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-top: 15px;
}