#searchBox {
    display: block;
    margin: 0 auto;
    width: 400px;
    outline: none;
    border: none;
    border-radius: 25px;
    border: 2px solid #c4b7a6;
    padding: 10px 20px;
    margin-top: 40px;
}

#submitBtn {
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-top: 15px;
    background-color: #e6e2d3;
    border: solid 2px #c4b7a6;
    padding: 4px 5px;
    border-radius: 25px;
    outline: none;
    font-family: monospace;
    color: #45403B;
}